* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  background: url("../assets/background.jpg") #000;
  color: #fff;
}
html,
body,
#root,
.App,
.clickArea {
  width: 1920px;
  height: 1080px;
}
.puzzle {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
}
.puzzle img {
  margin-left: 25px;
  width: 100px;
  opacity: 0.5;
}
.puzzle img.solved {
  opacity: 1;
}
